{% extends "admin/base_site.html" %}
{% load i18n %}

{% block content %}
<form method="post">
    {% csrf_token %}
    <h2>{% blocktrans with cl.opts.verbose_name_plural as name %}Rechazar {{ name }}{% endblocktrans %}</h2>

    <p>{% blocktrans %}Está a punto de rechazar las siguientes solicitudes:{% endblocktrans %}</p>

    <ul>
        {% for obj in queryset %}
        <li>{{ obj.title }} (Solicitado por: {{ obj.requester.username }})</li>
        {% endfor %}
    </ul>

    <p>{% blocktrans %}Por favor, seleccione un motivo para el rechazo. Se enviará un correo de notificación a cada usuario.{% endblocktrans %}</p>

    <fieldset class="module aligned">
        <div class="form-row">
            {{ form.rejection_reason.errors }}
            <label for="id_rejection_reason" class="required">{% trans 'Motivo del rechazo:' %}</label>
            {{ form.rejection_reason }}
        </div>
    </fieldset>

    <div>
        {% for obj in queryset %}
        <input type="hidden" name="{{ action_checkbox_name }}" value="{{ obj.pk }}">
        {% endfor %}
        <input type="hidden" name="action" value="reject_requests">
        <input type="submit" name="apply" value="{% trans 'Rechazar Solicitudes' %}">
        <a href="#" onclick="window.history.back(); return false;" class="button cancel-link">{% trans "Cancelar" %}</a>
    </div>
</form>
{% endblock %}
