{% extends "emails/base_email.html" %}
{% load i18n %}

{% block title %}{% trans "Activa tu cuenta en CampuStudiOnline" %}{% endblock title %}

{% block header_title %}{% trans "Activa tu cuenta" %}{% endblock header_title %}

{% block content %}
<p style="margin-bottom: 15px;">{% blocktrans with username=user.username %}Hola <strong>{{ username }}</strong>,{% endblocktrans %}</p>
<p style="margin-bottom: 15px;">{% trans "¡Gracias por registrarte en CampuStudiOnline!" %}</p>
<p style="margin-bottom: 15px;">{% trans "Para completar tu registro y activar tu cuenta, por favor, haz clic en el siguiente botón:" %}</p>

<p style="text-align: center; margin-bottom: 15px;">
    <a href="{{ protocol }}://{{ domain }}{% url 'users:activate_account' uidb64=uid token=token %}" style="display: inline-block; background-color: #007bff; color: #ffffff; padding: 10px 20px; text-decoration: none; border-radius: 5px; font-weight: bold;">{% trans "Activar mi cuenta" %}</a>
</p>

<p style="margin-bottom: 15px;">{% trans "Si no puedes hacer clic en el botón, por favor, copia y pega el siguiente enlace en la barra de direcciones de tu navegador:" %}</p>
<p style="margin-bottom: 15px;"><a href="{{ protocol }}://{{ domain }}{% url 'users:activate_account' uidb64=uid token=token %}" style="color: #007bff;">{{ protocol }}://{{ domain }}{% url 'users:activate_account' uidb64=uid token=token %}</a></p>

<p style="margin-bottom: 15px;"><strong>{% trans "Importante:" %}</strong> {% blocktrans %}Por motivos de seguridad, este enlace de activación caducará en 10 minutos. Si el enlace ha caducado, deberás iniciar el proceso de registro de nuevo.{% endblocktrans %}</p>
{% endblock content %}