{# /users/templates/users/password_reset_done.html #}
{% extends "base.html" %}

{% block title %}Instrucciones Enviadas - CampuStudiOnline{% endblock title %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-10 col-lg-8">
        <div class="card text-center">
            <div class="card-header">
                <h1 class="h3 card-title mb-0">Revisa tu correo electrónico</h1>
            </div>
            <div class="card-body">
                <p class="card-text">Te hemos enviado por correo electrónico las instrucciones para restablecer tu contraseña, siempre y cuando exista una cuenta asociada al email que proporcionaste.</p>
                <p class="card-text">Deberías recibirlo en breves instantes.</p>
                <hr>
                <p class="card-text text-muted">Si no recibes el correo, por favor, asegúrate de haber introducido la dirección con la que te registraste y no olvides comprobar tu carpeta de spam (correo no deseado).</p>
            </div>
            <div class="card-footer">
                <a href="{% url 'home' %}" class="btn btn-primary">Volver a la página de inicio</a>
            </div>
        </div>
    </div>
</div>
{% endblock content %}