{# /users/templates/users/password_reset_email.html #}
Hola,

Has recibido este correo porque solicitaste restablecer la contraseña de tu cuenta de usuario en CampuStudiOnline.

Por favor, haz clic en el siguiente enlace para elegir una nueva contraseña:

{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}

Tu nombre de usuario, por si lo has olvidado: {{ user.get_username }}

Si no has solicitado este cambio, puedes ignorar este mensaje.

¡Gracias por usar nuestro sitio!

El equipo de CampuStudiOnline