{# /users/templates/users/password_reset_complete.html #}
{% extends "base.html" %}

{% block title %}Contraseña Restablecida - CampuStudiOnline{% endblock title %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-8 col-lg-6">
        <div class="card text-center">
            <div class="card-header">
                <h1 class="h3 card-title mb-0">¡Contraseña cambiada con éxito!</h1>
            </div>
            <div class="card-body">
                <p class="card-text">Tu contraseña ha sido actualizada. Ya puedes iniciar sesión con tu nueva contraseña.</p>
                <div class="d-grid">
                    <a href="{% url 'login' %}" class="btn btn-success btn-lg">Iniciar Sesión</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}